#box1{
    height: 250px;
    width: 250px;
    background-color: cornflowerblue;
}
#box2{
    height: 250px;
    width: 250px;
    background-color: #a606f0;
}
#box3{
    height: 250px;
    width: 250px;
    background-color: #fa4a05;
}